:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}
body {
  background-color: var(--stone-600);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.container {
  display: grid;
  background-color: var(--white);
  width: 40%;
  max-width: 700px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px var(--stone-900);
}
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.container h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}
.Preparation {
  background-color: var(--rose-50);
  padding-left: 20px;
  border-radius: 15px;
}
.Preparation h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--rose-800);
}
span {
  font-size: 20px;
}
.Preparation li {
  padding-left: 20px;
  margin-bottom: 10px;
}
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--rose-800);
}
.ingredients li {
  padding-left: 15px;
  margin-bottom: 15px;
}
hr {
  border: 0;
  border-top: 2px solid var(--stone-150);
  margin: 20px 0;
}
.instructions li {
  padding-left: 10px;
  margin-bottom: 10px;
}
.nutrition span{
  font-size: 16px;
  margin-right: 100px;
  padding-left: 25px;
}
.nutrition .C{
  display: grid;
  justify-content: space-around;
  padding-top: 15px;
  padding-left: 15px;
}
